* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.header {
    background-color: #E60012;
}

.header img {
    width: 50px;
    height: 50px;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", cursive;
}

.barra li {
    list-style: none;
    padding: 0 20px;
}

.barra a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #f7f4fa;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    background-color: #010307;
}

h1,
h2 {
    font-family: 'Orbitron', sans-serif;
    color: rgba(255, 2, 57, 0.897);
}

h3,
p {
    color: #79177c;
}


.contenedor-productos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.exhibir-productos {
    width: 200px;
}

.exhibir-productos img {
    width: 200px;
    height: 260px;
    object-fit: cover;
}


.formulario {
    font-family: "Press Start 2P", cursive;
}


.footer {
    background-color: #E60012;

}